<!--<form style="margin-top: 50px">-->

  <div class="form-group">
    <label  for="exampleInputEmail1">Email address</label>
    <input  #inputEmail type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label  for="exampleInputPassword1">Password</label>
    <input  #inputPassword type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div *ngIf="!loginService.getLoginStatus()">
    <button (click)="registerToService()" style="color: red; background-color: Transparent; border: none">
      "Wrong email or password - click here to register"
    </button>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button (click)="loginUser(inputEmail.value, inputPassword.value)">Submit</button>

<!--</form>-->

