<div class="container" style="margin-top: 10px">
  <div class="jumbotron" style="height: 100%">
    <div class="container">
      <h3>
        BIBLIOTEKA PUBLICZNA w Dzielnicy Śródmieście m.st. Warszawy
        <br>
        <br>
      </h3>

      <h5>
        Adres: Koszykowa 26/28 Warszawa
      </h5>
      <h5>
        Tel: 518-915-330
      </h5>
      <h5>
        Email: koszytkowabiblioteka@gmail.com
        <br>
        <br>
      </h5>


      <h2>Godziny otwarcia</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Poniedziałek</th>
          <th>8:00 - 16:00</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Wtorek</th>
          <th>8:00 - 16:00</th>
        </tr>
        <tr>
          <th>Środa</th>
          <th>8:00 - 16:00</th>
        </tr>
        <tr>
          <th>Czwartek</th>
          <th>8:00 - 16:00</th>
        </tr>
        <tr>
          <th>Piątek</th>
          <th>8:00 - 16:00</th>
        </tr>
        <tr>
          <th>Sobota</th>
          <th>10:00 - 14:00</th>
        </tr>
        <tr>
          <th>Niedziela</th>
          <th>Zamknięte</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
