

<div class="myTitle">
  <div class="row" style="width: 100%">
    <div class="col-sm-1">
      <img id="imgOWL" src="/assets/sowa.PNG"/>
    </div>
    <div class="col-sm-9">
      <h3 class="myTitleText">
        BIBLIOTEKA PUBLICZNA
        <h5>
          w Dzielnicy Śródmieście
        </h5>

        <h5>
          m.st. Warszawy
        </h5>

      </h3>
    </div>
    <div class="col-sm-2">
      <div class="dropdown">
        <button class="dropbtn">{{userEmailToShow}}</button>
        <div class="dropdown-content">
          <a href="#" (click)="logOutUser()">log out</a>
          <a href="#">change date</a>
          <a href="#">my books</a>
        </div>
      </div>
    </div>
  </div >

</div>
